<div class="header">
    <button mat-raised-button (click)="SelectFile()"><mat-icon aria-hidden="false" aria-label="Example home icon"
            fontIcon="pick"></mat-icon>pick file</button>
    <button mat-raised-button (click)="RunTasks()"><mat-icon aria-hidden="false" aria-label="Example home icon"
            fontIcon="run"></mat-icon>run tasks</button>

</div>

@for (item of selected_files; track $index) {
    <div class="task-item">
    <audio controls [src]="item.url"></audio>
    <div>
        <mat-form-field>
            <mat-label>Task</mat-label>
            <mat-select [(ngModel)]="tasks[$index].decode_option.task">
                <mat-option matTooltip="X->X speech recognition" value="Transcribe">transcribe</mat-option>
                <mat-option matTooltip="X->English translation" value="Translate">translation</mat-option>
                <mat-option matTooltip="language recognition" value="LangId" selected>language id</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    </div>
    <div>
        result: {{decoding_res[$index]}}
    </div>
}