<div style="border-bottom: 1px solid rgb(233, 233, 233); margin: auto; max-width: 400px; ">
    <div>
        <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
            <input type="text" nz-input [(ngModel)]="newPwd"/>
        </nz-input-group>
        <ng-template #addOnAfterTemplate>
            <button nz-button nzType="text" (click)="copy_pwd()"><span nz-icon nzType="copy"></span></button>
        </ng-template>
    </div>
    <label
            nz-checkbox
            [(ngModel)]="allChecked"
            (ngModelChange)="updateAllChecked()"
            [nzIndeterminate]="indeterminate"
    >
        Check all
    </label>
    <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>

    <nz-space nzDirection="vertical" style="width: 100%">
        <nz-input-number-group *nzSpaceItem nzCompact>
            <nz-input-number [(ngModel)]="passwordLength" [nzStep]="1"
                             style="width: calc(100% - 200px)"></nz-input-number>
            <button nz-button nzType="primary" (click)="generate_pwd()">Submit</button>
        </nz-input-number-group>
    </nz-space>
</div>